<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Tareas</title>
    <!-- Agregar Bulma desde un CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f4f7fc;
            padding: 40px 0;
        }
        .container {
            max-width: 900px;
        }
        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        .pagination a {
            margin: 0 5px;
        }
        .buttons-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px; /* Adjust if necessary */
        }
        .buttons-container .button {
            margin: 0 10px; /* Optional: Adjust spacing between buttons */
        }
    </style>
</head>
<body>

    <div class="container">
        <h1 class="title has-text-centered">Mis Tareas</h1>

        <div class="box">
            <table class="table is-fullwidth is-striped">
                <thead>
                    <tr>
                        <th>
                            <a href="?ordenar=titulo&orden={% if ordenar_campo == 'titulo' and ordenar_orden == 'asc' %}desc{% else %}asc{% endif %}">
                                Título
                            </a>
                        </th>
                        <th>Descripción</th>
                        <th>
                            <a href="?ordenar=usuario__nombre&orden={% if ordenar_campo == 'usuario_nombre' and ordenar_orden == 'asc' %}desc{% else %}asc{% endif %}">
                                Usuario Asignado
                            </a>
                        </th>
                        <th>
                            <a href="?ordenar=estado&orden={% if ordenar_campo == 'estado' and ordenar_orden == 'asc' %}desc{% else %}asc{% endif %}">
                                Estado
                            </a>
                        </th>
                        <th>Puntos</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tarea in page_obj.object_list %}
                        <tr>
                            <td>{{ tarea.titulo }}</td>
                            <td>{{ tarea.descripcion }}</td>
                            <td>
                                {% if tarea.usuario %}
                                    {{ tarea.usuario.nombre }}
                                {% else %}
                                    Nadie
                                {% endif %}
                            </td>
                            <td>{{ tarea.estado }}</td>
                            <td>{{ tarea.puntos }}</td>
                            <td>
                                {% if url_actual == '/api/listar_tareas/'%}
                                    <a class="button is-info is-small" href="{% url 'actualizar_tarea_api' tarea.id %}">Actualizar via API</a>
                                    <a class="button is-info is-small" href="{% url 'tarea_detalle_json' tarea.id %}">Mostrar en formato JSON</a>
                                    <a class="button is-danger is-small" href="{% url 'eliminar_tarea_api' tarea.id %}">Eliminar via API</a>
                                {% else %}
                                    <a class="button is-info is-small" href="{% url 'actualizar_tarea' tarea.id %}">Actualizar</a>
                                    <a class="button is-danger is-small" href="{% url 'eliminar_tarea' tarea.id %}">Eliminar</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6" class="has-text-centered">No tienes tareas.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a class="button is-link is-small" href="?page=1">&laquo; Primera</a>
                    <a class="button is-link is-small" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}
                
                <span class="current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>
                
                {% if page_obj.has_next %}
                    <a class="button is-link is-small" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                    <a class="button is-link is-small" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
                {% endif %}
            </span>
        </div>

        <p class="has-text-centered">
            {% if url_actual == '/api/listar_tareas/'%}
                <a class="button is-primary" href="{% url 'crear_tarea_api' %}">Crear nueva tarea</a>
            {% else %}
                <a class="button is-primary" href="{% url 'crear_tarea' %}">Crear nueva tarea</a>
            {% endif %}
        </p>
        <div class="buttons-container">
            {% if url_actual == '/api/listar_tareas/' %}
                <a class="button is-dark is-info" href="{% url 'index_api' %}">Volver a Inicio</a>
                <a class="button is-dark is-info" href="{% url 'tarea_lista_json' %}">Mostrar en formato JSON</a>
            {% else %}
                <a class="button is-dark is-info" href="{% url 'index' %}">Volver a Inicio</a>
            {% endif %}
        </div>
    </div>


</body>
</html>
