<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>
<body>
    <P class="title">¡Bienvenid@ a la página de inicio!</P> <br />
    <p class="subtitle">Debes loguearte para ingresar a las diferentes opciones!</p>

    <form action="accounts/login/">
        <input type="submit" class="button is-dark" value="Ir al login" />
    </form>
    
    <br />

    <form action="/listar_tareas/">
        <input type="submit" class="button is-dark" value="Tareas" />
    </form>

    <form action="/listar_usuarios/">
        <input type="submit" class="button is-dark" value="Usuarios" />
    </form>

    <form action="/listar_logros/">
        <input type="submit" class="button is-dark" value="Logro" />
    </form>
</body>
</html>