<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>
<body>
    <P class="title">HOME</P> <br />
    <p class="subtitle">HOME</p>

    <form action="http://127.0.0.1:8000/accounts/login/?next=/accounts/%2520login/">
        <input type="submit" class="button is-dark" value="Ir al login" />
    </form>

 <h1>HOME1</h1>
</body>
</html>