<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Logros</title>
    <!-- Enlace a Bulma -->
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet">

    <style>
        body {
            background-color: #f4f7fc;
            padding: 40px 0;
        }
        .container {
            max-width: 900px;
        }
        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        .pagination a {
            margin: 0 5px;
        }
        .buttons-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px; /* Adjust if necessary */
        }
        .buttons-container .button {
            margin: 0 10px; /* Optional: Adjust spacing between buttons */
        }
    </style>
    
</head>
<body>
    <div class="container">
        <h1 class="title has-text-centered">Logros</h1>

        <div class="box">
            <table class="table is-fullwidth is-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Usuario</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for logro in page_obj.object_list %}
                <tr>
                    <td>{{ logro.nombre }}</td>
                    <td>{{ logro.descripcion }}</td>
                    <td>
                        {% if logro.usuario %}
                            {{ logro.usuario.nombre }}
                        {% else %}
                            Nadie
                        {% endif %}
                    </td>
                    <td>
                    {% if url_actual == '/api/listar_logros/'%}
                        <a class="button is-info is-small" href="{% url 'actualizar_logro_api' logro.id %}">Actualizar via API</a>
                        <a class="button is-info is-small" href="{% url 'logro_detalle_json' logro.id %}">Mostrar en formato JSON</a>
                        <a class="button is-danger is-small" href="{% url 'eliminar_logro_api' logro.id %}">Eliminar via API</a>
                    {% else %}
                        <a class="button is-info is-small" href="{% url 'editar_logro' logro.id %}">Actualizar</a>
                        <a class="button is-danger is-small" href="{% url 'eliminar_logro' logro.id %}">Eliminar</a>
                    {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="has-text-centered">No hay logros disponibles</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a class="button is-link is-small" href="?page=1">&laquo; Primera</a>
                    <a class="button is-link is-small" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}
                
                <span class="current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>
                
                {% if page_obj.has_next %}
                    <a class="button is-link is-small" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                    <a class="button is-link is-small" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
                {% endif %}
            </span>
        </div>

        <p class="has-text-centered">
            {% if url_actual == '/api/listar_logros/'%}
                <a class="button is-primary" href="{% url 'crear_logro_api' %}">Crear nuevo logro</a>
            {% else %}
                <a class="button is-primary" href="{% url 'crear_logro' %}">Crear nuevo logro</a>
            {% endif %}
        </p>
        {% if url_actual == '/api/listar_logros/' %}
            <a class="button is-dark is-info" href="{% url 'index_api' %}">Volver a Inicio</a>
            <a class="button is-dark is-info" href="{% url 'logro_lista_json' %}">Mostrar en formato JSON</a>
        {% else %}
            <a class="button is-dark is-info" href="{% url 'index' %}">Volver a Inicio</a>
        {% endif %}
    </div>
</body>
</html>
